/* General */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
* {
  box-sizing: border-box;
}
/* Imports */
.App .container {
  text-align: center;
}
.App .dispatch-table {
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
}
.App .dispatch-table th {
  height: 40px;
  background-color: #6ee8a1;
}
.App .dispatch-table td {
  height: 30px;
}
.App .dispatch-table,
.App .dispatch-table th,
.App .dispatch-table td {
  border: 1px solid #9a9898;
  border-collapse: collapse;
}
.App .dispatch-table tfoot {
  font-weight: bold;
}
.App .info {
  position: absolute;
  top: 100px;
  right: 50px;
  visibility: visible;
}
.App .info p {
  padding: 20px;
  border-radius: 3px;
  min-width: 150px;
}
.App .info p.loading {
  background-color: #f9f995;
}
.App .info p.success {
  background-color: #91ff91;
}
.App .info p.error {
  background-color: #fe8787;
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
header {
  background-color: #6ee8a1;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  width: 400px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li {
  padding: 5px 10px;
  background-color: #13984a;
  border-radius: 3px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
header nav ul li:hover {
  background-color: #094b24;
}
.add-box-form {
  width: 80%;
  max-width: 450px;
  margin: 20px auto;
  text-align: left;
  padding: 5%;
  background-color: #e8e8e8;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}
.add-box-form > * {
  display: block;
}
.add-box-form label {
  margin: 10px 0 5px 15px;
  font-weight: bold;
}
.add-box-form input {
  height: 30px;
  padding-left: 15px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
}
.add-box-form select {
  display: block;
  height: 30px;
  padding: 5px 15px;
  margin-bottom: 25px;
  box-sizing: border-box;
  appearance: none;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
}
.add-box-form input[type="submit"] {
  height: 40px;
  padding: 5px 10px;
  background-color: #13984a;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  align-self: flex-end;
}
.add-box-form input[type="submit"]:hover {
  background-color: #094b24;
}
.color-picker {
  position: relative;
  height: 30px;
  padding: 0;
}
.color-picker > * {
  position: absolute;
  top: 0;
  padding: 0;
  padding-left: 0;
  cursor: pointer;
  width: 100%;
}
.color-picker label[for=color] {
  color: blue;
  z-index: 3;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0;
  background-color: transparent;
}
.color-picker input[type=color] {
  padding-left: 0;
}
/* Variables */
/* Mixins */
.flexed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bordered-input {
  border: 1px solid #d2d2d2;
  border-radius: 3px;
}
